################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages/MSTest.TestAdapter.1.3.2
/packages/MSTest.TestFramework.1.3.2
